
<h1>Rolling Stone's Top 11 Albums of All Time</h1>
<form action="/list" method="get">
  <label for="order">Sort By</label>
  <select name="order">
    <option value="rank">Rank (default)</option>
    <option value="title">Title</option>
    <option value="year">Year</option>
  </select>
  <label for="rank">Select a Rank to Highlight</label>
  <select name="rank">
  	<% (1..100).each do |i| %>
  	<option value="<%= i %>"><%= i %></option>"
  	<% end %>
  </select>
  <input type="submit" value="Display List">
</form>

